.card {
    display: flex;
    max-width: 730px;
    height: 280px;
    box-shadow: -5px 24px 45px  rgb(219, 228, 235);
}
.card-image {
    width: 285px;
    background-color: var(--SLATE-GRAY);
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    
    & img {
        object-fit: cover;
        object-position: left;
    }
}
.card-content {
    max-width: 445px;
    background-color: var(--WHITE);
    padding: 34px 40px 32px 40px;
    position: relative;
    border-radius: 0 10px 10px 0;
}
.card-content-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: var(--INDEPENDENCE);
    letter-spacing: 0.3px;
    margin-bottom: 11px;
}
.card-content-desc {
    font-weight: 500;
    line-height: 20px;
    color: var(--SLATE-GRAY);
    margin-bottom: 19px;
    letter-spacing: 0.1px;
}
.card-content-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-content-bottom-author {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.card-author-img {
    border-radius: 50px;
}
.author-name {
    color: var(--INDEPENDENCE);
    margin-bottom: 4px;
    letter-spacing: 0.1px;
}
.article-date {
    font-weight: 500;
    color: var(--CRAYOLAS-CADET-BLUE);
}
.share-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: var(--ANTI-FLASH-WHITE);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: ease-in-out .3s;
}
.share-btn-bg {
    background-color: var(--INDEPENDENCE);
    & path {
        fill: var(--WHITE);
    }
}
.share-list {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 96px;
    right: -68px;
    list-style: none;
    background-color: var(--INDEPENDENCE);
    padding: 18px 39px; 
    border-radius: 10px;
    box-shadow: 0 10px 15px 5px var(--ANTI-FLASH-WHITE);

    &::after {
        content: '';
        position: absolute;
        bottom: -13px;
        left: 50%;
        border-top: 15px solid var(--INDEPENDENCE);
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        transform: translateX(-50%);
    }
}
.share-list-item {
    &:not(:last-child):not(:first-child) {
        margin-right: 14px;
    }
}
.share-list-item-text {
    color: var(--CRAYOLAS-CADET-BLUE);
    text-transform: uppercase;
    margin-right: 21px;
    letter-spacing: 4px;
    line-height: 16px;
}
.share-list-link {
    width: 20px;
    height: 20px;

    & img {
        display: block;
    }
}