@import './nomalize';
@import './vars';
@import './card';
@import './media';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--manrope);
    font-size: 13px;
    background-color: var(--ANTI-FLASH-WHITE);
}
.wrapper-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hidden {
    display: none;
}
h1, h2, h3, h4 {
    margin: 0;
}
